* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #8DAAB9CC;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8DAAB9CC;
}